<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UIA Lens — Home</title>

  <link rel="stylesheet" href="../static/css/main.css" />
  <link rel="stylesheet" href="../static/css/index.css" />

</head>

<body>
  <main class="page-home center-screen fade-in">
    <div class="container">
      <h1>Welcome to UIA Lens</h1>
      <div class="buttons">
        <button onclick="location.href='new-project.html'">New Project</button>
        <button onclick="location.href='editor.html'">Open Editor</button>
      </div>
    </div>
  </main>
</body>

</html>